@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #192351;
  color: rbg(213, 217, 224);
}

::-webkit-scrollbar{
    background-color: transparent;
    width:10px;
    box-sizing: border-box;
    margin-right:2px;
    padding-right:2px
}

::-webkit-scrollbar-thumb{
    background-color: #9cf7b4;
    border-radius: 20px;
    box-sizing: border-box;
}
::-webkit-scrollbar-thumb:hover{
    background-color: darkgray;
}
